html{

    height: 100%;
}

header{
    margin-bottom: 8%;
}

header nav {
position: absolute;
height: 100px;
width: 100%;
top: 0px;
left: 0px;
background: -moz-linear-gradient(90deg, #FFC21C 0%, #FFFFFF 100%);  /*firefox*/
background: -webkit-linear-gradient(90deg, #ffc21c 0%, #ffc21c 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, #ffc21c 0%, #ffc21c 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, #ffc21c 0%, #ffc21c 100%); /* ie10+ */
}

header nav h1{
    position: relative;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    text-indent: 70px;
    font-size: 22pt;
    margin-left: 3%;
    height: 79px;

}

header nav ul {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 65%;
}

header nav li {
    display: block;
    margin-left: -0.1%;
    margin-right: -0.1%;
}

header nav a {
    border: solid 1px;
    text-align: center;
    border-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 2em;
    text-decoration: none;
    color: black;
    
}

body {
    padding-top: 20.6%;
    background-color:#FFC21C;
    margin-left: 11%;
    margin-right: 11%;
    text-align: justify;
    font-family: arial sans serif;
    font-size: 11pt;
    height: inherit;
    margin-bottom: -2%;
}

body>div {

    position: absolute;
    border:solid 1px;
    top:2.3%;
    right:0%;
    width:10.8%;
    height:30%;
    text-align:center;
    font-size: 75%;
    background-color:#6D9360;
}

body>div textarea {

    width: 95%;
}

body>div button{

    margin-top: 10%;
}

article{

    background-color:#6D9360;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 3%;
    padding-bottom: 3%;
    height: inherit;
}

article>section {

    padding-top: 2%;
    padding-bottom: 2%;
    font-size:16pt;
}

article>table {

    width:50%;
    height: 20%;
    background-color: #6D9360;
    border : solid;
    border-width : 3px;
    border-radius : 0.5em 0.5em 0.5em 0.5em;
    padding : 1em 0.5em 1em 0.5em ;
    text-align: center;
}

th{
   height: 50px ;
   background-color: #88B878;
   border: solid;
   border-width : 1px;
   padding-right : 1%;
   }
        
td
   {
    width : 60px ;
    height: 60px ;
    border: solid;
    border-width : 2px;
    background-color: #88B878;
    }



footer{
    position: relative;
    padding-top: 1%;
    border-top: solid 1px;
    background-color:#6D9360;
}